.fade-left {
    /* opacity: 0;
    transition: 0.5s ; */
    background-color: green;
    transition: all 5s;
}

#title:hover{
    cursor: pointer;
    /* transform: initial; */
    transform: scale(1.5);
    transition-duration: 5s ;
    transition-delay: 2s;
}
#text{
    transform: initial;
    transition-duration: 5s;
    transition-delay: 2s;
}